.contacts {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.contacts-link {
  width: 100%;
  margin-left: 10px;
}

.title-contact {
  margin-bottom: 25px;
}

.fa-brands,
.fa-solid {
  margin-right: 10px;
}
